<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       "
	default-autowire="byName">
	
	<bean id="biz_druid-dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init">
		<property name="driverClassName" value="${druid.mysql.driver}"></property>
		<property name="url" value="${druid.jdbc.url}"></property>
		<property name="username" value="${druid.username}" />
		<property name="password" value="${druid.password}" />
		<property name="initialSize" value="${druid.initialSize}" />
		<property name="minIdle" value="${druid.minIdle}" />
		<property name="maxActive" value="${druid.maxActive}" />
	</bean>
	
</beans>
