<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       "
	default-autowire="byName">

	<bean id="dts_druid-dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init">
		<property name="driverClass" value="${druid.mysql.driver}"></property>
		<property name="url" value="${druid.jdbc.url}"></property>
		<property name="username" value="${druid.username}" />
		<property name="password" value="${druid.password}" />
		<property name="initialSize" value="${druid.initialSize}" />
		<property name="minIdle" value="${druid.minIdle}" />
		<property name="maxActive" value="${druid.maxActive}" />
	</bean>

	<!-- dts连接方式 -->
	<bean id="dtsConfig" class="com.zhongan.dts.server.share.DTSConfig">
		<property name="dtsManageType" value="LOCAL"></property>
		<property name="app" value="JRTZ"></property>
	</bean>

	<!-- dts manager -->
	<bean id="localDTSManager" class="com.zhongan.dts.manager.LocalDTSManager">
		<property name="dataSource" ref="dts_druid-dataSource"></property>
	</bean>


</beans>
